*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

/* =================== Navbar Stlying ==================== */
::-webkit-scrollbar{
  display: none;
}
.nav-is-active{
  overflow-y: hidden;
}
body {
 margin-bottom: 0px;
}
.navbar {
  height: 60px;
  background-color: #f4f4f4;
  position: relative;
  line-height: 60px;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0 90px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navlogo{
  width: 130px;
  margin-top: 28px;
}
.menu-icon {
  display: none;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 30px;
}

.nav-elements ul a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #2f234f;
  text-decoration: none;
  list-style: none;
}
.cart-icon{
  font-size: 20px;
}
.cart{
  position: relative;
}
.initial-quantity{
  position: absolute;
  top: -16px;
  left: 20px;
  font-weight: 300;
  font-size: 12px;
  background-color: red;
  height: 18px;
  width: 18px;
  text-align: center;
  line-height: 18px;
  color: #fff;
  border-radius: 50%;
  padding-top: 1px;
}

/* =================== Home Page css =================== */

.home-container{
  width: 70%;
  /* background-color: rgb(236, 228, 228); */
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-content{
  width: 50%;
}
.welcome{
  color: rgb(255, 54, 3);
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 5px;
}
.store-name{
  margin-bottom: 12px;
}
.store-des{
  line-height: 20px;
  font-size: 14px;
}
.shop-now{
  padding: 9px;
  background-color: rgb(255, 54, 3);
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border: none;
  margin-top: 20px;
}

.home-img{
  width: 400px;
  height: 300px;
  /* background-color: red; */
  object-fit: cover;
  background-position: center center;
  background-image: url("/assets/watch2.webp");
  animation: imageChangeAnimation 10s infinite;
  
}
@keyframes imageChangeAnimation {
  0% {
    opacity: 1;
    background-image: url("/assets/watch1.webp");
  }
  20% {
    opacity: 1;
    background-image: url("/assets/watch.jpg");
  }
  40% {
    opacity: 1;
    background-image: url("/assets/headphones.jpg");
  }
  60% {
    opacity: 1;
    background-image: url("/assets/mobile1.webp");
  }
  80% {
    opacity: 1;
    background-image: url("/assets/mobile2.webp");
  }
  100% {
    opacity: 1;
    background-image: url("/assets/iphone.jpg");
  }
}

/* =========home container second part===========  */

.features-services{
  height: auto;
  width: 100%;
  padding: 40px 0;
  background-color: #f4f4f4;
  /* background-color: red; */
  /* margin-bottom: 100px; */
}
.features{
  width: 70%;
  
  margin: 0 auto;
  /* background-color: aqua; */

}
.home-items{
  height: 220px;
  width: 100%;
  margin-top: 30px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.home-item-box{
  height: 220px;
  width: 30%;
  background-color: #fff;
  /* border: 2px solid black; */
  padding: 10px 20px;
  position: relative;
}
.kmaal::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  background-color: rgb(19, 20, 19,.2);
  top: 0;
  left: 0;
  transition: all ease .5s;
}
.kmaal:hover::after{
  width: 100%;
}
.home-item-box img{
  height: 170px;
  width: 100%;
  object-fit: cover;
}
.item-info{
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: rgb(255, 54, 3);
}

.contact-icon-last{
  color: rgb(255, 54, 3);
  margin-right: 6px;
  
}
.submit-btn{
  background-color: rgb(255, 54, 3);;
}

/* ===========home containre third pard ============== */
.functionalities-container{
  height: auto;
  width: 70%;
  margin: 80px auto;
  /* background-color: #f4f4f4; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 80px;
  /* background-color: red; */

}
.functionalities-container .one{
  height: 230px;
  width: 31%;
  /* background-color: yellow; */
  /* background-color: #f4f4f4; */
  border-radius: 10px;
}
.partition-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: aqua; */
}
.partition-box .partitions{
  height: 100px;
  width: 100%;
  background-color: #f4f4f4;

  border-radius: 6px;
}
.partitions{
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery-box, .secure-payment-box{
  /* background-color: yellowgreen; */
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.func-icon{
  text-align: center;
  margin: 10px;
  font-size: 30px;
  /* color: red; */
  color: rgb(255, 54, 3);
  /* color: black; */

}
.func-title{
  text-transform: capitalize;
  font-weight: 550;

}


/* ===================last part ================== */

.our-clients-container{
  height: 200px;
  width: 100%;
  background-color: #f4f4f4;

  /* background-color: yellow; */
}
.clients{
  width: 70%;
  padding: 30px 0;
  margin: 0 auto;
  /* background-color: aqua; */
  height: 200px;
}
.clients p{
  text-align: center;
  margin-bottom: 30px;
}

.companies{
  width: 100%;
  /* height: 70px; */
  /* background-color: chocolate; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.company{
  font-size: 22px;
  color: rgb(84, 83, 83);
}


.footer {
  margin-top: 40px;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: 2fr 1fr 1fr 1fr;
  background-color: #f4f4f4;
  padding: 50px 20px;
  text-align: left;
}
.footer > div{
  /* background-color: yellow; */
  /* border: 3px solid red; */
  padding-left: 40px;
}
.footer > div:first-child{
  padding-left: 10px;
}
.footer > div:last-child{
  padding-left: 0px;
  margin-left: -30px;
}
.footer-item {
  padding: 10px;
}
.abot{
  margin-top: 10px;
  text-align: justify;
  line-height: 30px;
}
.footer-item ul li{
  line-height: 30px;
  list-style: none;
}
h3{
  margin-bottom: 20px;
}
.footer-item p{
  line-height: 30px;
}

.social-links{
  margin-top: 20px;
  display: flex;
}
.social-links > div{
  margin-right: 20px;
  height: 40px;
  width: 40px;
  background-color: red;
  background-color: #bebcbc;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 30px;
}
.patti{
  height: 30px;
  /* background-color: red; */
  background-color: #bebcbc;
  text-align: center;
  line-height: 30px;
  color: #010101;
}

/* ============= Product page css ================ */
.not-found{
  color: red;
  /* margin-top: 140px; */
  text-align: center;
  font-size: 20px;
}
.product-container{
  /* height: 100vh; */
  width: 100%;
  /* background-color: #989797; */
  margin-top: 50px;
  /* background-color: red; */
  padding-bottom: 140px;

}
.product-sub-container{
  /* height: 700px; */
  width: 90%;
  /* background-color: yellow; */
  margin: 0px auto;
  display: flex;
}

.searchproduct{
  padding: 3px 6px;
}
.dark{
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}
.acessories-side button{
  line-height: 30px;
  position: relative;
  padding: 0px;
  display: block;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all ease .4s;
  margin-top: 5px;
}
.acessories-side button::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 0%;
  border-bottom: 2px solid rgb(0, 0, 0);
  top: 0;
  left: 0;
  transition: .4s;
}
.acessories-side button:hover::after{
  width: 100%;
}
.select{
  width: 100px;
  padding: 2px 5px;
}
.color-side{
  height: 40px;
  width: 170px;
  /* background-color: orange; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.color-side div{
  height: 27px;
  width: 27px;
  /* border: 2px solid #8f3131; */
  background-color: rgb(255, 8, 8);
  border-radius: 50%;
}
.color-side .blue{
  background-color: blue;
}
.color-side .green{
  background-color: rgb(13, 227, 56);
}
.color-side .white{
  background-color: rgb(204, 204, 215);
}
.color-side .black{
  background-color: black;
}
.dynamic-products{
  height: 100%;
  width: 400px;
  /* background-color: red; */
  width: 100%;
  margin-left: 30px;
  text-align: center;
}
.product-heading{
  height: 40px;
  width: 100%;
  /* background-color: blue; */
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
}
.product-page-products{
  /* height: 500px; */
  margin: 20px 10px;
  text-align: center;
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 49px;
  row-gap: 60px;
}
.maketheelist{
  /* background-color: rgb(105, 90, 90); */
  flex-direction: column;
  justify-content: center ;
  align-items: center ;

}
 .maketheelist .kmaal{
  width: 350px;
  height: 240px;
  margin-bottom: 100px;
  margin-left: 20px;
  /* background-color: red; */
}
.maketheelist .kmaal .purchase{
  margin-top: 40px;
}

.total-products{
  color: #000000;
}
.buy-detail{
  margin-top: 30px;
}
.purchase,.prod-detail{
  /* background-color: red; */
  background-color: rgb(255, 54, 3);
  height: 30px;
  border: none;
  color: #fff;
  padding: 0 10px;
  cursor: pointer;
}
.detailprod{
  background-color: rgb(89, 255, 0);
  background-color: rgb(13, 144, 159);
}

.purchase{
  margin-left: 3px;
}
.purchase:hover{
  background-color: rgb(176, 35, 13);
}
.detailprod:hover{
  background-color: rgb(7, 73, 81);

}
.prod-detail{
  margin-left: 3px;
  background-color: rgb(61, 236, 7);
}

.detailproduct{
  color: #fff;
  text-decoration: none;
}


/* ================ Cart Styling ================== */
.cart-sub-container{
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cart-container{
  width: 80%;
}
.cart-title{
  margin: 30px 0 60px 0;
}
.cartImage{
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 7px;
}
.cart-style{
  height: 100px;
  margin-top: 20px;
}
.cart-holder{
  /* background-color: rgb(168, 168, 180); */
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
}
.cartProductName{
  position: absolute;
  left: 100px;
}
.cartProductPrice{
  position: absolute;
  left: 240px;
  color:  rgb(255, 54, 3);
}
.incr{
  position: absolute;
  left: 330px;
  border: 1px solid  rgb(255, 54, 3);
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: rgb(255, 54, 3);
}
.cartProductQuantity{
  position: absolute;
  left: 380px;
  font-weight: 800;
}
.decr{
  position: absolute;
  left: 415px;
  border: 1px solid  rgb(255, 54, 3);
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  color: rgb(255, 54, 3);
}
.cartTotalPrice{
  position: absolute;
  left: 500px;
  color:  rgb(255, 54, 3);

}
.delete{
  position: absolute;
  left: 600px;
  cursor: pointer;
  color:  rgb(255, 54, 3);

}
.cart-summary{
  /* background-color: rgb(238, 238, 238); */
  width: 18%;
}
.total-items{
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.total-price-section{
  display: flex;
  justify-content: space-between;
}
.item-count,.items-price{
  color: rgb(255, 54, 3);
  font-weight: 700;
}




.textcenter{
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 30px;
}


/* ============ Contact page ================= */
/* ContactForm.css */
.contact-parent{
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form-container {
  width: 500px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.contact-title {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}



input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: vertical;
}

.submit-btn {
  /* background-color: #007bff; */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #0056b3;
}


/* ----------------- Single Prosuct Css ================= */
.single-image{
  width: 400px;
  height: 250px;
  object-fit: cover;
}
.single-product-container{
  height: calc(100vh - 60px);
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-product-sub-container{
  height: 80%;
  width: 80%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.single-image-container{
  height: 100%;
  width: 50%;
  /* background-color: mediumorchid; */
  display: flex;
  align-items: center;
  justify-content: center;

}
.extra-images{
  height: 70px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.extra-img{
  width: 80px;
  height: 50px;
}
.single-content-container{
  height: 100%;
  width: 50%;
  /* background-color: rgb(35, 170, 227); */
  display: flex;
  align-items: center;
  
}
.single-name{
  font-size: 30px;
}
.ranking-stars{
  color: yellow;
  margin: 10px 0;
}
.review{
  color: black;
  margin-left: 10px;
}
.cut-price{
  margin: 10px 0;
  font-weight: 700;
}
.deal{
  margin: 12px 0;
  color: #54118a;
  font-weight: 700;
}
.product-description{
  text-align: justify;
  line-height: 24px;
}
body{
  position: relative;
}

.success-message {
  position: absolute;
  position: fixed;
  padding: 12px 10px;
  z-index: 99;
  background-color: #4caf50;
  color: white;
  text-align: center;
  padding: 10px;
  top: 100px;
  left: 50%;
  transform: translate(-50%,-50%);
}



.easy{
  /* background-color: #2f234f; */
  /* color: #fff; */
  margin-top: 10px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  column-gap: 10px;
}
.easy .div{
 
  text-align: center;
  padding-top: 15px;
}
.text{
  font-size: 14px;
  margin: 0 8px;
  margin-top: 5px;
  
}

.brand{
  margin: 7px 0;
}















@media (max-width: 408px) {
  .contact-form-container {
    max-width: 90%;
  }

  /* ========== Responsive code for Single Product page ==== */
  .single-image{
    width: 330px;
    height: 250px;
    object-fit: cover;
  }
  .single-product-container{
    height: auto;
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .single-product-sub-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .single-image-container{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    order: 2;
  }
  .single-content-container{
    margin-top: 40px;
    /* overflow: hidden; */
    width: 100%;
    height: auto;
    /* background-color: rgb(173, 173, 125); */
    padding: 0 20px;
    padding-right: 20px !important;
    padding-bottom: 20px;
    order:1;
  }
  .availability{
    margin-top: 20px;
  }
  .brand{
    margin: 12px 0;
  }
  .review{
    margin-left: 8px;
  }
  .easy{
    column-gap: 0px;
  }




  /* =========== Product ========== */




  .product-sub-container {
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
  }
  .search-side {
    width: 100%;  
  }
 
  .searchproduct{
    height: 35px;
    width: 200px;
    outline: none;
    padding: 0 14px;
    margin-bottom: 20px;
    /* display: none; */
  }
  
  .second-search{
    display: block !important;
    margin-top: 20px;
  }


  .dynamic-products {
    width: 100%;
    margin-left: 0;
  }

  .product-heading {
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin-top: 20px;
  }

  .product-page-products {
    justify-content: center;
    column-gap: 0;
    row-gap: 30px;
    margin: 20px 0;
    margin-top: 00px !important;
  }

  .home-item-box {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    /* background-color: red; */
    margin-bottom: 70px;
  }
  .home-item-box:last-child{
    margin-bottom: 0px;
  }

  .item-info {
    margin-top: 10px;
  }
  .dark1{
    margin-top: 0px;
   
  }

  .buy-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
  }

  .purchase,
  .detailprod {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }

  .detailproduct {
    margin-top: 5px;
    text-align: center;
  }
  .how-to-list{
    display: none;
  }
  .a-z{
 
  margin-top: 10px;
  margin-bottom: 15px;
  }
  .not-found{
    margin-top: 20px;
  }
}




















.list{
  background-color: rgb(255, 54, 3);
  height: 30px;
  width: 50px;
  border: none;
  color: #fff;
}
.row{
  background-color: rgb(5, 55, 191) !important;
  height: 30px;
  width: 50px;
  margin-left: 5px;
  border: none;
  color: #fff;
}
.searchtwo{
  /* background-color: red; */
  display: none;
}


.second-search{
  display: none !important;
}

.home{
  color: #fff;
  text-decoration: none;
}
.navbar{
  position: relative;
  position: sticky;
  top: 0;
  z-index: 12;
}
.checked{
  list-style: none;
  position: absolute;
  right: 50px;
  top: 4px;
}















.cross-link{
  display: none;
}










.alllink{
  color: #fff;
  text-decoration: none;
}

@media (max-width: 400px) {

  .checked{
    right: 75px;
    top: 7px;
  }
  .cross-link{
    display: block;
    position: absolute;
    right: -10px;
    top: -15px;
  }
  .searchproduct{
    display: none;
  }
  .searchtwo{
    display: block;
    margin-top: 13px;
  }
  .container{
    padding: 0 20px;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
    font-size: 27px;
    margin-top: 12px;
  }

  .nav-elements {
    position: absolute;
    left: -150px;
    top: 60px;
    background-color: #f4f4f4;
    width: 150px;
    height: calc(100vh - 58px);
    transition: all 0.3s ease-in;
    padding: 0 20px;
    overflow: hidden;
    z-index: 999;
  }

  .nav-elements.active {
    left: 0px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 12px;
  }


  .home-content{
    width: 100%;
  }
  .home-container{
    width: 90%;
    margin: 40px auto;
  }
  .home-image{
    width: 100%;
    margin-top: 30px;
  }
  .features-services{
    height: 900px;
  }
  .features{
    width: 90%;
    margin: 0 auto;
  }
  .home-item-box{
    width: 100%;
    margin-top: 20px;
  }
  .features-heading{
    font-size: 30px;
  }
  .functionalities-container{
    width: 90%;
    margin: 10px auto;
    margin-bottom: 25px;
  }
  .functionalities-container .one{
    width: 100%;
    margin-top: 20px;
  }
  .clients{
    width: 90%;
  }
  
  .company{
    margin-right: 10px;
    margin-bottom: 12px;
  }
  .home-img{
    margin-top: 30px;
  }
  .footer{
    grid-template-columns: 1fr;
  }
  .footer > div{
    padding-left: 10px;
  }
  .footer > div:last-child{
    padding-left: 10px;
    margin-left: 0;
  }
  .patti{
    font-size: 15px;
  }

  /* ============ cart ============ */

  .cart-sub-container{
    /* background-color: brown; */
    width: 100%;
    padding: 0 10px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
    /* justify-content: center; */

  }
  .cart-container{
    /* background-color: orange; */
    width: 100%;
  }
  .cart-summary{
    /* display: none; */
    width: 50%;
    margin: 20px auto;
  }
  .cartImage{
    width: 55px;
    height: 55px;
   
  }
  .cart-style{
    height: 80px;
    width: 100%;
    margin-top: 20px;
  }
  .cart-holder{
    height: 100px;
    width: 100%;
    /* display: flex;
    align-items: center;
    position: relative; */
    font-size: 13px;
  }
  .cartProductName{
  
    left: 67px;
  }
  .cartProductPrice{
   
    left: 164px;
  
  }
  .incr{
    
    left: 232px;
   
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 10px;
  }
  .cartProductQuantity{
    left: 269px;
  }
  .decr{
    left: 295px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 10px;

  }
  .cartTotalPrice{
    left: 330px;
    display: none;
  }
  .delete{
    left: 330px;  
  }
  .close-nav{
    display: block;
  }
}

.everypage{
  position: absolute;
  bottom: 0;
}
.active-modal{
  overflow-y: hidden;
}
.close-nav{
  position: absolute;
  right: 20px;
  font-size: 21px;
  display: none;
}
